<div ui-content-for="title">
  <span>Login</span>
</div>

<div id="login-container" class="scrollable">
  <div class="scrollable-content section">

    <form role="form" ng-submit='login(email, password)'>
      <fieldset>
        <legend class="lmb-lg-legend">Login</legend>
        <div class="form-group has-success has-feedback">
          <label class="lmb-label">Email</label>
          <input type="email"
                 ng-model="email"
                 class="form-control lmb-input"
                 placeholder="Enter email">
        </div>

        <div class="form-group">
          <label class="lmb-label">Password</label>
          <input type="password"
                 ng-model="password"
                 class="form-control lmb-input"
                 placeholder="Password">
        </div>

        <div class="form-group">
          <label class="toggle-label">Remember Me</label>
          <ui-switch
                  ng-model='rememberMe'></ui-switch>
        </div>
      </fieldset>
      <hr>

      <button class="btn btn-primary btn-block lmb-lg-button">
        Login
      </button>

      <div ui-content-for="navbarAction">
        <div class="btn"><i class="fa fa-sign-in" ng-click="login()"></i> Login</div>
      </div>

    </form>
  </div>
</div>