

<div ui-content-for="navbarAction">
  <div class="btn" ng-click="logout()"><i class="fa fa-sign-out" ></i> Logout</div>
</div>

<div class="profile-template">
  <div class="scrollable">
    <div class="scrollable-content">

      <div class="list-group text-center">
        <div class="list-group-item list-group-item-home">
          <h1>Profile
          </h1>
        </div>
        <!---->
        <div class="list-group-item list-group-item-home">
          <div>
            <!--<i class="fa fa-gamepad feature-icon text-primary"></i>-->
            <img class="current-photo" ng-src="{{photoService.photoUrl(uc.get('photo_name'))}}">
          </div>
          <div>

          </div>

          <!--<button type="button" class="btn btn-primary btn-lg ">Change Photo</button>-->

          <!--<span class="file-input btn btn-block btn-primary btn-file">Upload New Photo<input file-model="myFile" onchange="angular.element(this).scope().upload(this)" type="file" id="file" accept="image/jpeg" name="file" multiple></span>-->

          <br>
          <span ng-file-select="" class="file-input btn btn-block btn-primary btn-file scrollable-footer" style="bottom: 0;">Upload New Photo<input accept="image/jpeg"  type="file" file-model="myFile"/></span>


        </div>
        <!---->
        <div class="list-group-item list-group-item-home">
          <br><!--added to prevent incorrect position of button-->
        </div>



        <!---->

      </div>

    </div>
  </div>
</div>

<!--<div class="scrollable" ui-state="">-->
  <!--<div class="scrollable-content" ui-scroll-bottom="">-->
    <!--<div class="list-group">-->
      <!--<img ng-src="{{photoService.photoUrl(uc.get('photo_name'))}}">-->
      <!--<input type="file" id="exampleInputFile" file-model="myFile">-->
      <!--<button ng-click="upload()">upload me</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->