<h1 class="app-name">Lox Meets Bagel</h1>

<div id="sidebar-container" class="scrollable">
  <h1 class="scrollable-header app-name">Lox Meets Bagel</h1>  
  <div class="scrollable-content" ng-controller="SidebarController">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a ng-hide="!isLoggedIn" class="list-group-item" ui-sref="home"><i class="fa fa-home"></i> Home<i class="fa fa-chevron-right pull-right"></i></a>
      <a ng-hide="!isLoggedIn" class="list-group-item" ui-sref="profile"><i class="fa fa-user"></i> My Profile<i class="fa fa-chevron-right pull-right"></i></a>
      <a ng-hide="!isLoggedIn" class="list-group-item" ui-sref="scroll"><i class="fa fa-users"></i> All Participants</i><i class="fa fa-chevron-right pull-right"></i></a>
      <!--<a ng-hide="!isLoggedIn" class="list-group-item" ui-sref="likes"><i class="fa fa-thumbs-up"></i> Likes<i class="fa fa-chevron-right pull-right"></i></a>-->
      <!--<a ng-hide="!isLoggedIn" class="list-group-item" ui-sref="suggestion"><i class="fa fa-certificate"></i> Suggested Matches<i class="fa fa-chevron-right pull-right"></i></a>-->
      <a ng-hide="!isLoggedIn" class="list-group-item" ui-sref="match"><i class="fa fa-heart"></i> Matches <i class="fa fa-chevron-right pull-right"></i></a>
      <!--Admin Menu-->
      <a ng-hide="!isAdmin" ui-sref="admin.registration" class="list-group-item"><i class="fa fa-user-plus"></i> <span class="bld">Admin:</span> Add Registration</a>
      <a ng-hide="!isAdmin" ui-sref="admin.app_config" class="list-group-item"><i class="fa fa-cube"></i> <span class="bld">Admin:</span> App Config</a>
      <a ng-hide="!isAdmin" ui-sref="admin.user_search" class="list-group-item"><i class="fa fa-search"></i> <span class="bld">Admin:</span> User Search</a>
      <!--Login/Logout-->
      <a ng-show="isLoggedIn" href="javascript:void(0)" ng-click="logout()" class="list-group-item" ><i class="fa fa-sign-out"></i> Logout<i class="fa fa-chevron-right pull-right"></i></a>
      <a ng-show="!isLoggedIn" class="list-group-item" ui-sref="login"><i class="fa fa-sign-in"></i> Login<i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>