@import "mobile-angular-ui/src/less/variables.less";
.profile-template {
  .current-photo {
    /* Extra small devices (phones, less than 768px) */
    max-width: 300px;
    // tablets
    @media (min-width: @screen-sm-min) {
      max-width: 550px;
    }
    //Laptops and small desktops
    @media (min-width: @screen-md-min) {
      max-width: 800px;
    }

    @media (min-width: @screen-lg-min) {
      max-width: 1000px;
    }

  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
